<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    {{> header}}
    <div class="container">
        <img src="./img/main2.jpg" alt="image.jpg" style="width: 250px; height: 25%">
    </div>
    {{> footer}}
</body>
</html>